.link-set{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color: black !important;
}
.navbar-set{
    background-color: white !important;
}
.fs-18{
    font-size:18px
}
.css-1v5u2yv{
    padding: 0px !important;
}
.admin-col{
    color: rgb(163, 153, 153);
}